<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" [routerLink]="['']">Nature Gallery</a>
    <a class="nav-link" href="#" [routerLink]="['about']">about</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="routerContainer" [@routerAnimations]="triggerAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>